@model Reference

@{
    var href = RouteHelper.ResolveUrl(Model);
    var isExternal = Model is UrlReference;
}

<a href="@href"
   class="btn btn-primary"
   @(isExternal ? "target=\"_blank\" rel=\"noopener noreferrer\"" : "")>
    @(Model.Label ?? "Learn more")
</a>
