@model NavigationViewModel

@{
    var hasSubitems = Model.Subitems is { Count: > 0 };
    var label = Model.Label ?? "Link";
}

@if (hasSubitems)
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
            @label
        </a>
        <div class="dropdown-menu">
            <div class="container dropdown-menu-inner">
                @foreach (var subitem in Model.Subitems)
                {
                    var subLabel = subitem.Label ?? "Link";
                    <a class="dropdown-item"
                       href="@subitem.Url"
                       @(subitem.IsExternal ? "target=\"_blank\" rel=\"noopener noreferrer\"" : "")>
                        @subLabel
                    </a>
                }
            </div>
        </div>
    </li>
}
else if (Model.IsExternal)
{
    <li class="nav-item">
        <a class="nav-link" href="@Model.Url" target="_blank" rel="noopener noreferrer">
            @label
        </a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" href="@Model.Url">
            @label
        </a>
    </li>
}
