@model NavigationViewModel

@{
    var hasSubitems = Model.Subitems is { Count: > 0 };
    var label = Model.Label ?? "Link";
}

@if (hasSubitems)
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            @label
        </a>
        <ul class="dropdown-menu">
            @foreach (var subitem in Model.Subitems!)
            {
                var subLabel = subitem.Label ?? "Link";
                <li>
                    <a class="dropdown-item"
                       href="@subitem.Url"
                       @(subitem.IsExternal ? "target=\"_blank\" rel=\"noopener noreferrer\"" : "")>
                        @subLabel
                    </a>
                </li>
            }
        </ul>
    </li>
}
else if (Model.IsExternal)
{
    <li class="nav-item">
        <a class="nav-link text-dark" href="@Model.Url" target="_blank" rel="noopener noreferrer">
            @label
        </a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" href="@Model.Url">
            @label
        </a>
    </li>
}
