:root {
  --mainBackgroundColor: #ffffff;
  --mainHoverColor: #0d6efd;
  --mainButtonColor: #0d6efd;
  --mainBorderColor: #0d6efd;
  --mainTextColor: #212529;
  --mainAfterColor: #0b5ed7;
  --mainAnchorColor: #0d6efd;
}
[data-theme="ficto_healthtech"] {
  --mainBackgroundColor: #022c22;
  --mainHoverColor: #10b981;
  --mainButtonColor: #065f46;
  --mainBorderColor: #065f46;
  --mainTextColor: #047857;
  --mainAfterColor: #064e3b;
  --mainAnchorColor: #065f46;
}
[data-theme="ficto_imaging"] {
  --mainBackgroundColor: #020617;
  --mainHoverColor: #6366f1;
  --mainButtonColor: #3730a3;
  --mainBorderColor: #3730a3;
  --mainTextColor: #4338ca;
  --mainAfterColor: #312e81;
  --mainAnchorColor: #3730a3;
}
[data-theme="ficto_surgical"] {
  --mainBackgroundColor: #4c0519;
  --mainHoverColor: #f43f5e;
  --mainButtonColor: #9f1239;
  --mainBorderColor: #9f1239;
  --mainTextColor: #be123c;
  --mainAfterColor: #881337;
  --mainAnchorColor: #9f1239;
}
a {
  color: var(--mainAnchorColor);
}
a:hover {
  color: var(--mainHoverColor);
}
.btn-primary {
  background-color: var(--mainButtonColor);
  border-color: var(--mainBorderColor);
}
.btn-primary:hover {
  background-color: var(--mainHoverColor);
  border-color: var(--mainHoverColor);
}
